In [2]:
import os
import pandas as pd

directory = os.getcwd()

In [3]:
data_path = directory +'\\all_charging_stat.csv'
data = pd.read_csv(data_path)
all_charging_stat = pd.DataFrame(data=data)

In [4]:
print(all_charging_stat.head())

   Unnamed: 0      ID                 Title                   AddressLine1  \
0           0  163751         Hotel Guillem       Carrer dels ArÃ­nsols 10
1           0  202658  AndorraRacing Saturn  Avinguda del Princep Benlloch
2           0  202659    Andorracing Saturn  Avinguda del Princep Benlloch
3           0  211490          Parking Saba              Carrer Pau Casals
4           0   73559  Canillo Prat del Riu            Carrer Prat del Riu

               Town StateOrProvince Postcode  CountryID   Latitude  Longitude  \
0            Encamp          Encamp    AD200         10  42.535629   1.583180
1  Andorra la Vella             NaN    AD500         10  42.505041   1.515253
2  Andorra la Vella             NaN    AD500         10  42.505176   1.515291
3  Andorra la Vella             NaN    AD500         10  42.508729   1.530795
4           Canillo         Canillo    AD100         10  42.565901   1.598916

  ContactTelephone1           ContactEmail                    RelatedURL  \
0       +376 733900  info@hotelguillem.net  https://www.hotelguillem.net
1               NaN                    NaN                           NaN
2               NaN                    NaN                           NaN
3               NaN                    NaN                           NaN
4               NaN                    NaN           http://feda@feda.ad

   DistanceUnit AddressLine2 AccessComments ContactTelephone2
0             0          NaN            NaN               NaN
1             0          NaN            NaN               NaN
2             0          NaN            NaN               NaN
3             0          NaN            NaN               NaN
4             0          NaN            NaN               NaN

In [5]:
cities = ['augsburg', 'basel', 'bern', 'birmingham', 'bolton', 'bordeaux',
       'bremen', 'cagliari', 'constance', 'darmstadt', 'essen',
       'frankfurt', 'graz', 'groningen', 'hamburg', 'innsbruck', 'kassel',
       'london', 'losangeles', 'luzern', 'madrid', 'manchester',
       'marseille', 'melbourne', 'munich', 'paris', 'rotterdam',
       'santander', 'speyer', 'strasbourg', 'stuttgart', 'taipeh',
       'torino', 'toronto', 'toulouse', 'utrecht', 'vilnius', 'wolfsburg',
       'zurich']

In [8]:
m_cities = [x.title() for x in cities] 
print(m_cities)

['Augsburg', 'Basel', 'Bern', 'Birmingham', 'Bolton', 'Bordeaux', 'Bremen', 'Cagliari', 'Constance', 'Darmstadt', 'Essen', 'Frankfurt', 'Graz', 'Groningen', 'Hamburg', 'Innsbruck', 'Kassel', 'London', 'Losangeles', 'Luzern', 'Madrid', 'Manchester', 'Marseille', 'Melbourne', 'Munich', 'Paris', 'Rotterdam', 'Santander', 'Speyer', 'Strasbourg', 'Stuttgart', 'Taipeh', 'Torino', 'Toronto', 'Toulouse', 'Utrecht', 'Vilnius', 'Wolfsburg', 'Zurich']

In [10]:
dims = [all_charging_stat[all_charging_stat['Town']==x].shape[0] for x in m_cities]
print(dims)

[53, 10, 13, 155, 32, 26, 130, 4, 0, 51, 254, 19, 11, 78, 627, 34, 23, 6416, 0, 12, 399, 160, 20, 46, 15, 147, 350, 25, 23, 2, 270, 0, 57, 442, 14, 212, 15, 52, 8]

In [22]:
df = pd.concat([pd.DataFrame(m_cities), pd.DataFrame(dims)], axis=1)

In [24]:
df.columns = ['City', 'n_of_chargers']

In [28]:
df[df['n_of_chargers']>200]

         City  n_of_chargers
10      Essen            254
14    Hamburg            627
17     London           6416
20     Madrid            399
26  Rotterdam            350
30  Stuttgart            270
33    Toronto            442
35    Utrecht            212

In [7]:
df = all_charging_stat[all_charging_stat['Town']=='Rotterdam']
print(df.shape[1])

(350, 17)

In [8]:
from shapely.geometry import Point
import geopandas as gpd
def point_df_to_gdf(df):
    """takes a dataframe with columns named 'longitude' and 'latitude'
    to transform to a geodataframe with point features"""

    df['coordinates'] = df[['Longitude', 'Latitude']].values.tolist()
    df['coordinates'] = df['coordinates'].apply(Point)
    df = gpd.GeoDataFrame(df, geometry='coordinates')
    return df

gdf = point_df_to_gdf(df)
gdf.to_file(os.getcwd()+'\\EV_points.shp')

C:\Users\User\AppData\Local\Temp\ipykernel_12416\1262646191.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coordinates'] = df[['Longitude', 'Latitude']].values.tolist()
C:\Users\User\AppData\Local\Temp\ipykernel_12416\1262646191.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coordinates'] = df['coordinates'].apply(Point)
C:\Users\User\AppData\Local\Temp\ipykernel_12416\1262646191.py:13: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf.to_file(os.getcwd()+'\\EV_points.shp')