In [1]:
import os
import pandas as pd

directory = os.getcwd()

In [2]:
data_path = directory +'\\all_charging_stat.csv'
data = pd.read_csv(data_path)
all_charging_stat = pd.DataFrame(data=data)

In [4]:
print(all_charging_stat.head())

   Unnamed: 0      ID                 Title                   AddressLine1  \
0           0  163751         Hotel Guillem       Carrer dels ArÃ­nsols 10
1           0  202658  AndorraRacing Saturn  Avinguda del Princep Benlloch
2           0  202659    Andorracing Saturn  Avinguda del Princep Benlloch
3           0  211490          Parking Saba              Carrer Pau Casals
4           0   73559  Canillo Prat del Riu            Carrer Prat del Riu

               Town StateOrProvince Postcode  CountryID   Latitude  Longitude  \
0            Encamp          Encamp    AD200         10  42.535629   1.583180
1  Andorra la Vella             NaN    AD500         10  42.505041   1.515253
2  Andorra la Vella             NaN    AD500         10  42.505176   1.515291
3  Andorra la Vella             NaN    AD500         10  42.508729   1.530795
4           Canillo         Canillo    AD100         10  42.565901   1.598916

  ContactTelephone1           ContactEmail                    RelatedURL  \
0       +376 733900  info@hotelguillem.net  https://www.hotelguillem.net
1               NaN                    NaN                           NaN
2               NaN                    NaN                           NaN
3               NaN                    NaN                           NaN
4               NaN                    NaN           http://feda@feda.ad

   DistanceUnit AddressLine2 AccessComments ContactTelephone2
0             0          NaN            NaN               NaN
1             0          NaN            NaN               NaN
2             0          NaN            NaN               NaN
3             0          NaN            NaN               NaN
4             0          NaN            NaN               NaN

In [5]:
cities = ['augsburg', 'basel', 'bern', 'birmingham', 'bolton', 'bordeaux',
       'bremen', 'cagliari', 'constance', 'darmstadt', 'essen',
       'frankfurt', 'graz', 'groningen', 'hamburg', 'innsbruck', 'kassel',
       'london', 'losangeles', 'luzern', 'madrid', 'manchester',
       'marseille', 'melbourne', 'munich', 'paris', 'rotterdam',
       'santander', 'speyer', 'strasbourg', 'stuttgart', 'taipeh',
       'torino', 'toronto', 'toulouse', 'utrecht', 'vilnius', 'wolfsburg',
       'zurich']

In [8]:
m_cities = [x.title() for x in cities] 
print(m_cities)

['Augsburg', 'Basel', 'Bern', 'Birmingham', 'Bolton', 'Bordeaux', 'Bremen', 'Cagliari', 'Constance', 'Darmstadt', 'Essen', 'Frankfurt', 'Graz', 'Groningen', 'Hamburg', 'Innsbruck', 'Kassel', 'London', 'Losangeles', 'Luzern', 'Madrid', 'Manchester', 'Marseille', 'Melbourne', 'Munich', 'Paris', 'Rotterdam', 'Santander', 'Speyer', 'Strasbourg', 'Stuttgart', 'Taipeh', 'Torino', 'Toronto', 'Toulouse', 'Utrecht', 'Vilnius', 'Wolfsburg', 'Zurich']

In [10]:
dims = [all_charging_stat[all_charging_stat['Town']==x].shape[0] for x in m_cities]
print(dims)

[53, 10, 13, 155, 32, 26, 130, 4, 0, 51, 254, 19, 11, 78, 627, 34, 23, 6416, 0, 12, 399, 160, 20, 46, 15, 147, 350, 25, 23, 2, 270, 0, 57, 442, 14, 212, 15, 52, 8]

In [22]:
df = pd.concat([pd.DataFrame(m_cities), pd.DataFrame(dims)], axis=1)

In [24]:
df.columns = ['City', 'n_of_chargers']

In [28]:
df[df['n_of_chargers']>200]

         City  n_of_chargers
10      Essen            254
14    Hamburg            627
17     London           6416
20     Madrid            399
26  Rotterdam            350
30  Stuttgart            270
33    Toronto            442
35    Utrecht            212

In [3]:
#df = all_charging_stat[all_charging_stat['StateOrProvince']=='Utrecht']
#print(df.shape)

(59, 17)

In [5]:
df = all_charging_stat[all_charging_stat['Town']=='Utrecht']
print(df.shape)
print(df.head)

(212, 17)
<bound method NDFrame.head of         Unnamed: 0      ID                       Title  \
104321           0  112632             Hoefijzerstraat
104341           0  118940    Cornelis Dirkszstraat 92
104358           0  129139                 Morelstraat
104366           0  131094             Nyeveltstraat 1
104431           0   13421             BP Cartesiusweg
...            ...     ...                         ...
111801           0   68423             Ananasstraat 32
111802           0   68424            Rembrandtlaan 70
111803           0   68425              Ariadnedreef 2
111806           0   68428                    Klopdijk
112146           0    9146  ANWB Servicecenter Utrecht

                    AddressLine1     Town StateOrProvince  Postcode  \
104321        Hoefijzerstraat 27  Utrecht         Utrecht    3572BT
104341  Cornelis Dirkszstraat 92  Utrecht             NaN    3554VN
104358            Morelstraat 37  Utrecht         Utrecht    3552GL
104366           Nyeveltstraat 1  Utrecht         Utrecht    3454EW
104431          Cartesiusweg 140  Utrecht             NaN   3534 BD
...                          ...      ...             ...       ...
111801           Ananasstraat 32  Utrecht             NaN   3552 TG
111802          Rembrandtlaan 70  Utrecht             NaN   3451 JD
111803            Ariadnedreef 2  Utrecht             NaN   3561 BR
111806                  Klopdijk  Utrecht             NaN   3563 HA
112146          Windhontlaan 40   Utrecht             NaN  3526 KV

        CountryID   Latitude  Longitude       ContactTelephone1 ContactEmail  \
104321        159  52.095896   5.137108                     NaN          NaN
104341        159  52.112060   5.095029                     NaN          NaN
104358        159  52.108203   5.102804                     NaN          NaN
104366        159  52.081447   5.035282                     NaN          NaN
104431        159  52.098279   5.086634            030-243 9956          NaN
...           ...        ...        ...                     ...          ...
111801        159  52.109341   5.102455                     NaN          NaN
111802        159  52.111369   5.015394                     NaN          NaN
111803        159  52.114573   5.131981                     NaN          NaN
111806        159  52.121582   5.092260                     NaN          NaN
112146        159  52.056029   5.108814  +31(0)30 â 287 41 75          NaN

                                               RelatedURL  DistanceUnit  \
104321  https://docs.google.com/forms/d/e/1FAIpQLSfuLP...             0
104341                                                NaN             0
104358                                                NaN             0
104366                                                NaN             0
104431   http://www.fuelservicesnederland.nl/cartesiusweg             0
...                                                   ...           ...
111801                              http://www.nuon.nl/ev             0
111802                              http://www.nuon.nl/ev             0
111803                              http://www.nuon.nl/ev             0
111806                              http://www.nuon.nl/ev             0
112146                      http://www.anwb.nl/elektrisch             0

       AddressLine2                                     AccessComments  \
104321          NaN                               NewMotion UTPITEN288
104341          NaN                                                NaN
104358          NaN                                                NaN
104366     De Meern                                             Public
104431          NaN  Open Maandag / Vrijdag 6h/23h  Zaterdag 7h/23h...
...             ...                                                ...
111801          NaN                                                NaN
111802          NaN                                                NaN
111803          NaN                                                NaN
111806          NaN                                                NaN
112146          NaN  Maandag t/m zaterdag - 6.45 tot 23.00 uur Zond...

       ContactTelephone2
104321               NaN
104341               NaN
104358               NaN
104366               NaN
104431               NaN
...                  ...
111801               NaN
111802               NaN
111803               NaN
111806               NaN
112146               NaN

[212 rows x 17 columns]>

In [6]:
from shapely.geometry import Point
import geopandas as gpd
def point_df_to_gdf(df):
    """takes a dataframe with columns named 'longitude' and 'latitude'
    to transform to a geodataframe with point features"""

    df['coordinates'] = df[['Longitude', 'Latitude']].values.tolist()
    df['coordinates'] = df['coordinates'].apply(Point)
    df = gpd.GeoDataFrame(df, geometry='coordinates')
    return df

gdf = point_df_to_gdf(df)
gdf.to_file(os.getcwd()+'\\EV_points.shp')

C:\Users\User\AppData\Local\Temp\ipykernel_3280\1262646191.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coordinates'] = df[['Longitude', 'Latitude']].values.tolist()
C:\Users\User\AppData\Local\Temp\ipykernel_3280\1262646191.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coordinates'] = df['coordinates'].apply(Point)
C:\Users\User\AppData\Local\Temp\ipykernel_3280\1262646191.py:13: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf.to_file(os.getcwd()+'\\EV_points.shp')