In [8]:
import os
import pandas as pd

directory = os.getcwd()

In [9]:
data_path = directory +'\\all_charging_stat.csv'
data = pd.read_csv(data_path)
all_charging_stat = pd.DataFrame(data=data)

In [10]:
print(all_charging_stat.head())

   Unnamed: 0      ID                 Title                   AddressLine1  \
0           0  163751         Hotel Guillem       Carrer dels ArÃ­nsols 10
1           0  202658  AndorraRacing Saturn  Avinguda del Princep Benlloch
2           0  202659    Andorracing Saturn  Avinguda del Princep Benlloch
3           0  211490          Parking Saba              Carrer Pau Casals
4           0   73559  Canillo Prat del Riu            Carrer Prat del Riu

               Town StateOrProvince Postcode  CountryID   Latitude  Longitude  \
0            Encamp          Encamp    AD200         10  42.535629   1.583180
1  Andorra la Vella             NaN    AD500         10  42.505041   1.515253
2  Andorra la Vella             NaN    AD500         10  42.505176   1.515291
3  Andorra la Vella             NaN    AD500         10  42.508729   1.530795
4           Canillo         Canillo    AD100         10  42.565901   1.598916

  ContactTelephone1           ContactEmail                    RelatedURL  \
0       +376 733900  info@hotelguillem.net  https://www.hotelguillem.net
1               NaN                    NaN                           NaN
2               NaN                    NaN                           NaN
3               NaN                    NaN                           NaN
4               NaN                    NaN           http://feda@feda.ad

   DistanceUnit AddressLine2 AccessComments ContactTelephone2
0             0          NaN            NaN               NaN
1             0          NaN            NaN               NaN
2             0          NaN            NaN               NaN
3             0          NaN            NaN               NaN
4             0          NaN            NaN               NaN

In [11]:
cities = ['augsburg', 'basel', 'bern', 'birmingham', 'bolton', 'bordeaux',
       'bremen', 'cagliari', 'constance', 'darmstadt', 'essen',
       'frankfurt', 'graz', 'groningen', 'hamburg', 'innsbruck', 'kassel',
       'london', 'losangeles', 'luzern', 'madrid', 'manchester',
       'marseille', 'melbourne', 'munich', 'paris', 'rotterdam',
       'santander', 'speyer', 'strasbourg', 'stuttgart', 'taipeh',
       'torino', 'toronto', 'toulouse', 'utrecht', 'vilnius', 'wolfsburg',
       'zurich']

In [12]:
m_cities = [x.title() for x in cities] 
print(m_cities)

['Augsburg', 'Basel', 'Bern', 'Birmingham', 'Bolton', 'Bordeaux', 'Bremen', 'Cagliari', 'Constance', 'Darmstadt', 'Essen', 'Frankfurt', 'Graz', 'Groningen', 'Hamburg', 'Innsbruck', 'Kassel', 'London', 'Losangeles', 'Luzern', 'Madrid', 'Manchester', 'Marseille', 'Melbourne', 'Munich', 'Paris', 'Rotterdam', 'Santander', 'Speyer', 'Strasbourg', 'Stuttgart', 'Taipeh', 'Torino', 'Toronto', 'Toulouse', 'Utrecht', 'Vilnius', 'Wolfsburg', 'Zurich']

In [13]:
dims = [all_charging_stat[all_charging_stat['Town']==x].shape[0] for x in m_cities]
print(dims)

[53, 10, 13, 155, 32, 26, 130, 4, 0, 51, 254, 19, 11, 78, 627, 34, 23, 6416, 0, 12, 399, 160, 20, 46, 15, 147, 350, 25, 23, 2, 270, 0, 57, 442, 14, 212, 15, 52, 8]

In [14]:
df = pd.concat([pd.DataFrame(m_cities), pd.DataFrame(dims)], axis=1)

In [15]:
df.columns = ['City', 'n_of_chargers']

In [19]:
df[df['n_of_chargers']>100].sort_values('n_of_chargers')

          City  n_of_chargers
6       Bremen            130
25       Paris            147
3   Birmingham            155
21  Manchester            160
35     Utrecht            212
10       Essen            254
30   Stuttgart            270
26   Rotterdam            350
20      Madrid            399
33     Toronto            442
14     Hamburg            627
17      London           6416

In [24]:
#df = all_charging_stat[all_charging_stat['StateOrProvince']=='Ontario']
#print(df.shape)

(200, 17)

In [26]:
df = all_charging_stat[all_charging_stat['Town']=='Toronto']
print(df.shape)
print(df.head)

(442, 17)
<bound method NDFrame.head of         Unnamed: 0      ID                                         Title  \
3546             0  101653         Toronto, on - Bay Street Supercharger
3549             0  101877                  Toronto Pan Am Sports Centre
3575             0  105735  Radisson Admiral Hotel Toronto- Harbourfront
3576             0  105833                      Queens Quay West Parkade
3620             0  109666                 State Street Financial Centre
...            ...     ...                                           ...
13980            0   92900                      Shangri-la Hotel Toronto
13984            0    9175                                 842 King St W
13993            0   94356                    Target Park - 365 Bloor St
14034            0   98042                         Bloor Islington Place
158479           0  231777               AmbuEnergy Office - Private Use

               AddressLine1     Town StateOrProvince    Postcode  CountryID  \
3546       220 Yonge Street  Toronto             NaN     M5B 2H1         44
3549    875 Morningside Ave  Toronto         Ontario     M1C 0C7         44
3575      249 Queens Quay W  Toronto         Ontario     M5J 2N5         44
3576      7 Lower Simcoe St  Toronto         Ontario     M5V 1Z2         44
3620       30 Adelaide St E  Toronto         Ontario     M5C 3H1         44
...                     ...      ...             ...         ...        ...
13980    188 University Ave  Toronto         Ontario     M5H 0A3         44
13984         842 King St W  Toronto             NaN     M5V 1P1         44
13993        365 Bloor St E  Toronto         Ontario     M4Y 2L1         44
14034       3280 Bloor St W  Toronto             NaN  ON M8X 2X3         44
158479    4-465 Milner Ave.  Toronto              ON       M1B 2          2

         Latitude  Longitude ContactTelephone1 ContactEmail  \
3546    43.655596 -79.382963               NaN          NaN
3549    43.791559 -79.194757    (416) 283-5222          NaN
3575    43.638603 -79.385449    (416) 203-3333          NaN
3576    43.640202 -79.382062    (416) 366-3516          NaN
3620    43.651448 -79.376162    (416) 365-4164          NaN
...           ...        ...               ...          ...
13980   43.649135 -79.386237    (647) 788-8888          NaN
13984   43.642978 -79.408297        4167030600          NaN
13993   43.671915 -79.377971    (416) 425-7275          NaN
14034   43.645496 -79.522243    (416) 239-3397          NaN
158479  43.791370 -79.227470      855-885-9571          NaN

                          RelatedURL  DistanceUnit AddressLine2  \
3546                             NaN             0          NaN
3549                             NaN             0          NaN
3575                             NaN             0          NaN
3576                             NaN             0          NaN
3620                             NaN             0          NaN
...                              ...           ...          ...
13980                            NaN             0          NaN
13984   http://carstations.com/14288             0          NaN
13993                            NaN             0          NaN
14034                            NaN             0          NaN
158479     http://www.opconnect.com/             0          NaN

       AccessComments ContactTelephone2
3546              NaN               NaN
3549              NaN               NaN
3575              NaN               NaN
3576              NaN               NaN
3620              NaN               NaN
...               ...               ...
13980             NaN               NaN
13984             NaN               NaN
13993             NaN               NaN
14034             NaN               NaN
158479            NaN               NaN

[442 rows x 17 columns]>

In [27]:
from shapely.geometry import Point
import geopandas as gpd
def point_df_to_gdf(df):
    """takes a dataframe with columns named 'longitude' and 'latitude'
    to transform to a geodataframe with point features"""

    df['coordinates'] = df[['Longitude', 'Latitude']].values.tolist()
    df['coordinates'] = df['coordinates'].apply(Point)
    df = gpd.GeoDataFrame(df, geometry='coordinates')
    return df

gdf = point_df_to_gdf(df)
gdf.to_file(os.getcwd()+'\\EV_points.shp')

C:\Users\User\AppData\Local\Temp\ipykernel_3280\1262646191.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coordinates'] = df[['Longitude', 'Latitude']].values.tolist()
C:\Users\User\AppData\Local\Temp\ipykernel_3280\1262646191.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coordinates'] = df['coordinates'].apply(Point)
C:\Users\User\AppData\Local\Temp\ipykernel_3280\1262646191.py:13: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf.to_file(os.getcwd()+'\\EV_points.shp')